beautifulsoup4==4.8.2
conda==4.8.3
conda-package-handling==1.7.0
fake-useragent==0.1.11
lxml==4.5.0
matplotlib==3.2.1
mysql-connector-python==8.0.20
numpy==1.18.1
numpydoc==0.9.2
pandas==1.0.3
pandas-profiling==2.7.0
pandocfilters==1.4.2
plotly==4.7.0
python-dateutil==2.8.1
requests==2.23.0
scikit-learn==0.22.1
scipy==1.4.1
seaborn==0.10.0
selenium==3.141.0
simplejson==3.17.0
six==1.14.0
spyder==4.1.2
spyder-kernels==1.9.0
Twisted==20.3.0
urllib3==1.25.8

